* {
    line-height: 1.75;
}

h1, h2, h3, h4, h6 {
    font-family: 'Didact Gothic', sans-serif;
}

a {
    color: #F2690C;
}

body{
    background-color: #000000;
}

footer{
    background-color: #000000;
    border-color: #FFFFFF;
    border: #FFFFFF;
    border-radius: .5rem;
}

dl{
    padding-top: 1%;
    padding-bottom: 1%;
}

p, dt, dd{
    color: #FFFFFF;
}

p, dl, a {
    font-size: 20px;
    font-family: serif;
}

h1 {
    font-size: 3rem;
    color: #EB2900;
}

h2 {
    font-size: 2rem;
    color: #F2BE0C;

}