*{
font-size: large;

}

a{
    color: hotpink;
}

a:visited{
    color: greenyellow; 
}

body{
    background-color: black;
}

dd{
    color: gold;
}

p{
    color: gold;
    font-size: large;
}

h1, h2, h3, h4, h5, h6{
    color: skyblue;
}