a{
    color: hotpink;
}

a:visited{
    color: greenyellow; 
}

body{
    background-color: black;
}

footer{
    background-color: maroon;
}

table{
    color: gold;
    border-color: aliceblue;
}

dd{
    color: gold;
}

dl{
    text-indent: 5%;
}

dt{
    color: lightgray;
}

p{
    color: gold;
}

h1{
    font-size: 200%;
}

h2{
    font-size: 150%;
}

h1, h2, h3, h4, h5, h6{
    color: skyblue;
}

html{
    font-size: var(--text-body-size-medium, 14px);
}

ul{
    color: gold;
}