<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="This page is Jack Spencer Walton's personal website. The page contains some of his professional and academic work, but also engages with his personal interests.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/night.css" type="text/css">
  </head>
  <body>
    {{ content }}
  </body>
</html>